<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notepad</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; }
        pre { width: 80%; margin: auto; padding: 10px; border: 1px solid #ccc; background: #f9f9f9; }
        button { padding: 10px; margin: 10px; }
    </style>
</head>
<body>
    {% if content %}
        <h1>Notepad</h1>
        <pre>{{ content }}</pre>
    {% else %}
        <h1>Notepad is empty !</h1>
        <p>go to homepage to update the notepad</p>
    {% endif %}
</body>