<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">Welcome To AI Chatbot</div>
        <div class="chat-body" id="chatBody">
            <p class="welcome-text">Hello! How can I assist you today?</p>
        </div>
        <div class="chat-input-container">
            <form action="{{ url_for('chat') }}" method="POST" class="chat-input-container">
                <input type="text" name="user_message" class="chat-input" placeholder="Type a message..." required>
                <button type="submit" class="send-btn">Send</button>
            </form>
        </div>
    </div>
</body>
</html>

